/*
 * JMMP
 * http://jmmp.github.com/
 *
 * Copyright 2013 JMMP
 */

img.brand {
  width: 22px;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.footer {
  color: #cccccc;
  font-size: 0.8em;
  margin: 10px;
}

.progress {
  margin-top: 20px;
  margin-bottom: 0;
}

.row-fluid > img {
  margin-top: 60px;
  margin-bottom: 20px;
}